<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body class="bg-gray-100">
    <nav class ="background_nav">
        <ul>
            <ul><h1>To-do_App</h1></ul>
            <ul><h1><a href="/">Home</a></h1></ul>
            <ul><h1><a href="/about">About</a></h1></ul>
            <ul><h1><a href="/templates/sign_in.html">sign-in</a></h1></ul>
        </ul>
    </nav>
    <div class="flex items-center justify-center h-screen">
        <div class="w-full max-w-sm">
            <h1 class="text-3xl font-bold text-center mb-6">About Us</h1>
            <p class="text-gray-700 text-center mb-8">We are a team of developers who love creating beautiful and functional websites using the latest technologies.</p>
            <button class="shadow bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" onclick="window.location.href=' /home.html'">
                Go Back Home
            </button>
        </div>
    </div>
</body>
</html>