<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-do_App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body class="bg-gray-100">
    <nav class="background_nav">
        <ul>
            <ul>
                <h1>To-do_App</h1>
            </ul>
            <ul>
                <h1><a href="/">Home</a></h1>
            </ul>
            <ul>
                <h1><a href="/about">About</a></h1>
            </ul>
            <ul>
                <h1><a href="/sign_in">sign-in</a></h1>
            </ul>
            <ul>
                <h1><a href="/canva">canva</a></h1>
            </ul> 
        </ul>
    </nav>
<div>

</div>

</body>
</html>